.closeSideBar{
    display: none;
}
.openSideBar{
    background-color: #fff;
    padding: 30px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    height: calc(100% - 80px);
    width: 300px;
    z-index: 1000;

}